<form id="sendForm" action="">
    <input id="m" autocomplete="off" autofocus />
    <button id="sendMessage"><img src="pictures/d.jpg" alt=";)"></button>
    <!--
    <button id="sendMessage">Send</button>
    -->
</form>