

<% layout('layout/pageCore') -%>

<% block('title', "Chat") -%>

<script defer src="chat.js"></script>
<link rel="stylesheet" href="chat.css">

<link rel="stylesheet" href="scrollbar/perfect-scrollbar.css">
<script src="scrollbar/perfect-scrollbar.js"></script>



<!--<div id="div">-->
<ul id="messages"></ul>
<!--</div>-->





<%-partial ('partials/sendForm') %>




<!-- lol -->