<% layout('layout/pageCore') -%>

<% block('title', "Dialog") -%>

<script defer src="dialog.js"></script>
<link rel="stylesheet" href="dialog.css">

<link rel="stylesheet" href="scrollbar/perfect-scrollbar.css">
<script src="scrollbar/perfect-scrollbar.js"></script>



<ul id="users">

</ul>

<p id="headerOfMessages">

</p>

<ul id="messages">

</ul>





<%-partial ('partials/sendForm') %>
